@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.body {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    color: #fff;
    font-family: 'Roboto Mono', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.counterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
}

.counter {
    font-size: 60px;
    margin-top: 10px;
}

@media (max-width: 580px) {
    .body {
        flex-direction: column;
    }
}