@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;

    button {
        background-color: #fff;
        border: none;
        color: #aaa;
        cursor: pointer;
        font-size: 16px;
        padding: 15px;

    }

    button:hover {
        color: #222;
    }

    button:focus {
        outline: none;
    }

}

.sliderContainer {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    .actionButtons {
        button {
            position: absolute;
            left: 35%;
            top: 50%;
            z-index: 100;
        }

        .downButton {
            transform: translateX(-100%);
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        .upButton {
            transform: translateY(-100%);
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5PX;
        }
    }
}

.leftSlider {
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;

    h1 {
        font-size: 40px;
        margin-bottom: 10px;
        margin-top: -30px;

    }
}

.leftSlider>div {
    height: 100%;
    width: 100%;
    // position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.rightSlider {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform 0.5s ease-in-out;

}

.rightSlider>div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}