.body {
    background-color: #ecf0f1;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;

    img {
        max-width: 100%;
    }
}

.card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    width: 350px;
}

.cardHeader {
    height: 200px;
}

// object-fit属性指定了可替换元素的内容如何适应到其使用的高度和宽度都确定的框
.cardHeader img {
    //cover属性表示被替换的内容在保持其宽高比的同时填充元素的整个内容框。如果对象的宽高比与内容框不相匹配，
    //该对象将被剪裁以适应内容框。
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.cardContent {
    background-color: #fff;
    padding: 30px;
}

.cardTitle {
    height: 20px;
    margin: 0;
}

.cardExcerpt {
    color: #777;
    margin: 10px 0 20px;
}

.author {
    display: flex;
}

.profileImg {
    border-radius: 50%;
    overflow: hidden;
    height: 40px;
    width: 40px;
}

.authorInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
    width: 100px;
}

.authorInfo small {
    color: #aaa;
    margin-top: 5px;
}

.animatedBg {
    background-image: linear-gradient(to right,
            #f6f7f8 0%,
            #edeef1 10%,
            #f6f7f8 20%,
            #f6f7f8 100%);

    background-size: 200% 100%;
    //对应的动画效果
    animation: bgPos 1s linear infinite;
}

.animatedBgText {
    border-radius: 50px;
    display: inline-block;
    margin: 0;
    height: 10px;
    width: 100%;
}

@keyframes bgPos {
    0% {
        background-position: 50% 0;
    }

    100% {
        background-position: -150% 0;
    }
}